## TIME-USER Matrix

In [128]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse.linalg import svds

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [132]:
rd = pd.read_csv('./data/ml-latest/ratings.csv')

In [130]:
rd.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [133]:
from datetime import datetime

rd.drop('movieId', axis = 1, inplace = True)
rd.drop('rating', axis = 1, inplace = True)
rd['Hour_6']=[datetime.fromtimestamp(x).strftime('%H') for x in rd['timestamp']]
rd.drop('timestamp', axis = 1, inplace = True)
rd = rd.reindex(columns=['Hour_6','userId'])
rd = rd.sort_values(by='Hour_6')
rd.head()

         Hour_6  userId
7482744      00   77060
10513910     00  108069
14601490     00  149421
10513913     00  108069
10513915     00  108069

In [136]:
rd.loc[(rd['Hour_6']=="00") | (rd["Hour_6"]=="01") | 
       (rd["Hour_6"]=="02") | (rd["Hour_6"]=="03"),"Hour_6"] = "h1"
rd.loc[(rd['Hour_6']=="04") | (rd["Hour_6"]=="05") | 
       (rd["Hour_6"]=="06") | (rd["Hour_6"]=="07"),"Hour_6"] = "h2"
rd.loc[(rd['Hour_6']=="08") | (rd["Hour_6"]=="09") | 
       (rd["Hour_6"]=="10") | (rd["Hour_6"]=="11"),"Hour_6"] = "h3"
rd.loc[(rd['Hour_6']=="12") | (rd["Hour_6"]=="13") | 
       (rd["Hour_6"]=="14") | (rd["Hour_6"]=="15"),"Hour_6"] = "h4"
rd.loc[(rd['Hour_6']=="16") | (rd["Hour_6"]=="17") | 
       (rd["Hour_6"]=="18") | (rd["Hour_6"]=="19"),"Hour_6"] = "h5"
rd.loc[(rd['Hour_6']=="20") | (rd["Hour_6"]=="21") | 
       (rd["Hour_6"]=="22") | (rd["Hour_6"]=="23"),"Hour_6"] = "h6"

In [137]:
rd

         Hour_6  userId
7482744      h1   77060
10513910     h1  108069
14601490     h1  149421
10513913     h1  108069
10513915     h1  108069
10513917     h1  108069
10513918     h1  108069
10513919     h1  108069
10513920     h1  108069
2324147      h1   23894
2324163      h1   23894
21383315     h1  218398
21383316     h1  218398
21383317     h1  218398
21383318     h1  218398
21383319     h1  218398
21383320     h1  218398
21383321     h1  218398
21383322     h1  218398
10513921     h1  108069
21383323     h1  218398
10513907     h1  108069
10513903     h1  108069
2324086      h1   23894
2324087      h1   23894
10513893     h1  108069
2324089      h1   23894
2324092      h1   23894
2324096      h1   23894
2324100      h1   23894
...         ...     ...
12105296     h6  123977
12105295     h6  123977
12105294     h6  123977
12105293     h6  123977
12105292     h6  123977
12105434     h6  123981
12105290     h6  123977
22895576     h6  234071
22895629     h6  234071
12105454     h6  123981
12105453     h6  123981
12105452     h6  123981
12105451     h6  123981
12105450     h6  123981
12105449     h6  123981
12105448     h6  123981
12105447     h6  123981
12105446     h6  123981
12105444     h6  123981
12105443     h6  123981
12105442     h6  123981
12105441     h6  123981
12105440     h6  123981
12105439     h6  123981
12105438     h6  123981
12105436     h6  123981
12105435     h6  123981
22895631     h6  234071
22895584     h6  234071
2476726      h6   25521

[27753444 rows x 2 columns]